#header_wrap {
	margin: 10px 0 0 10px;
	font: bold 20px verdana;
}

#footer_wrap {
	margin: 20px 0 0 10px;
	font: 10px verdana;
}

#matrix {
	position: relative;
}

#matrix canvas{
	position: absolute;
}